body{

    color: #000;
    margin: 0;
    padding: 0;
    
}


*,
*:before,
*:after{
  box-sizing: border-box;
 }

.miss{
    display: flex;
    justify-content: space-around;
}
.smth{

    width: 92%;
    color: #2c2c2c;
   
    letter-spacing: .09em;
    background-color: #d5d5d5;
    text-shadow: 
      2px 2px 0px #d5d5d5, 
      4px 4px 0px rgba(0, 0, 0, 0.2);
      font-size: 4vw;
      margin: 0;
      padding: 0;
      
}

.container{
  
  margin: 0;
  padding: 0;
  background-image: url(7076030364b52195b_0.jpg);
  background-size: 100% ; 
}

.board{
   
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    width: 50%;
    height: 90%;
    margin: 0 0 0 5%;
    
}

.stick1{
  background-image: url(11.png);
  background-size: 100% 100%;
 
  width: 50%;
  min-height: 370px;
  
  margin: 0;
  padding: 0;
  
}
.text1{
margin: 15% 10% 0 10% ;
text-align: center;
font-size: 1.3vw;
font-weight: bold;
color: #383127;

font-family: 'Underdog', cursive;
}


.stick2{
    background-image: url(12.png);
    background-size: 100% 100%;
   
    width: 50%;
    min-height: 370px;
    
    margin: 0;
    padding: 0;
    
  }
  
.text2{
margin: 15% 10% 0 15% ;
text-align: justify;
font-size: 1.5vw;
font-weight: bold;
color: #383127;


font-family: 'Amatic SC', cursive;
}


.stick3{
    background-image: url(13.png);
    background-size: 100% 100%;
   
    width: 50%;
    min-height: 370px;
    
    margin: 0;
    padding: 0;
    
  }
  
.text3{
    margin: 15% 15% 0 10% ;
    text-align: left;
    font-size: 1.1vw;
    font-weight: bold;
    color: #383127;
    
    font-family: 'Bad Script', cursive;
    text-align: justify;
}


.stick4{
    background-image: url(15.png);
    background-size: 100% 100%;
   
    width: 50%;
    min-height: 370px;
    
    margin: 0;
    padding: 0;
    
  }
  
.text4{
    margin: 15% 10% 0 15% ;
    text-align: left;
    font-size: 1vw;
    font-weight: bold;
    color: #383127;
    
    font-family: 'Oranienbaum', serif;
}