body {
  background-color: #00c4ff;
  font-family: "Amatic SC", cursive;
  font-size: 3vw;
  margin-bottom: 10%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/*=================================================================
          ОФОРМЛЕНИЕ
  =================================================================*/
p {
  margin: 2%;
}
h1 {
  color: #383127;
  font-size: 7vw;
}

a {
  text-decoration: none;
}

a:hover {
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.smth {
  width: 80%%;
}

.container1 {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
  margin: 0 20% auto 20%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  flex-wrap: wrap;
  margin: 0 6% 0 6%;
}
.inner {
  /*background-color:  #fb6542;*/

  width: 20%;
  min-width: 100px;
  margin: 1.3%;
  /*padding: 1%;*/
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  /*border: 6px dashed #383127;*/
  color: #2b1700;
}
