body {
  margin: 0; /*убираем расстояние от окна браузера*/
  font-family: "Raleway", sans-serif; /* шрифт основного текста*/
  font-size: 14px; /*размер основного текста*/
  color: #6c7279; /*задаём цвет основного текста*/
  /*background-color: #FFA500;*/

  background-color: #fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

/*CONTAINER
==============================================*/
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/*HEADER
==============================================*/
.header {
  width: 100%; /*если это не сделать после position: absolute, шапка выравняется по левому краю*/
  height: 100px;

  position: absolute; /*делаем слой шапки выше слоя фоновой картинки-intro*/
  top: 0;
  left: 0;
  /* z-index: 1000; */
}
.header__inner {
  display: flex;
  justify-content: space-between; /* делаем лого и навигацию на одной строке*/
  padding: 35px;
  align-items: center; /* Выравниваем навигацию и лого (на один уровень)*/

  /*border-bottom: 2px solid #505268; /* проводим серую линию у шапки */
}

.logo {
  width: 35%;
}

/*NAV
==============================================*/
.nav {
  display: flex; /*навигация "прилипла" друг к другу => margin-left: 50px; */

  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase; /* Пишем буквы меню КАПСОМ*/
}
.nav__link {
  margin-left: 50px; /*отступ слов навигации*/
  color: #ffffff;
  text-decoration: none; /*Убираем подчёркивание в режиме regular*/
  opacity: 0.75; /* Делаем навигацию прозрачненькой*/
  transition: opacity 0.2s linear; /* прозрачность исчезает через 2с*/
  /*LINEAR - ГРАДИЕНТ!!!*/
}
.nav__link:first-child {
  margin-left: 0px; /*убираем отступ у Features*/
}
.nav__link:hover {
  text-decoration: underline;
  opacity: 100%; /* Делаем навигацию прозрачненькой*/
}
/*INTRO
==============================================*/
.intro {
  display: flex;
  flex-direction: column; /*Каждый дочерний элемент читается с новой строки*/
  justify-content: center; /*выравниваем САМ БЛОК по центру, а не текст в нём!*/
  height: 750px;
  padding-top: 100px; /*отступили от header*/
  margin: 0;
  background: #31344e url("img/eto.gif") center no-repeat; /*Если вставить в HTML вот это: <img src="images/Layer_34.jpg" alt="">, то это будет считаться как картинка, а не фон*/
  /*#31344e - если инет медленный и картинка не прогрузится, у ч-ка фон будет не белый, а такого цвета*/
  background-size: cover; /* чтобы картинка занимала ВЕСЬ блок*/
}
.container_2 {
  width: 85%;

  margin: 0 auto;
  color: #fff;
}
.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;

  color: #fff;
  font-weight: 700;

  text-transform: uppercase; /* пишем капс */
  text-align: center;

  color: black;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  -webkit-text-fill-color: white;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */

.fotos {
  background-color: #fff;
  width: auto;
  height: auto;
  margin: 0;

  padding: 0;
}

.foto-container {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */

  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.foto-inner {
  /*background-color:  #fb6542;*/

  width: 33%;
  flex-grow: 1;

  flex-basis: 361;

  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  /*border: 6px dashed #383127;*/
  color: #2b1700;
}

.fotka {
  width: 100%;
  height: 100%;
}

.fotka {
  display: inline-block;
  border: 0;

  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.fotka:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.cont3 {
  padding-top: 5%;
  padding-bottom: 15%;
  background-color: #421985;
}

.smth {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;

  color: #fff;
  font-weight: 700;

  text-align: center;
}

.comment {
  text-align: center;
  color: #dcc7ff;
  /* color: #000; */
}

.group {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 70%;
  margin: 5% 15% 30% 15%;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

.laba {
  text-decoration: none;

  background-color: #b587ff;
  padding: 5%;

  color: black;
  opacity: 0.75; /* Делаем навигацию прозрачненькой*/
  transition: opacity 0.2s linear; /* прозрачность исчезает через 2с*/
}

.laba:hover {
  text-decoration: underline;
  opacity: 100%; /* Делаем навигацию прозрачненькой*/
}

.person {
  width: 25%;
}
