html {
  box-sizing: border-box;
}
h6 {
  font-size: 2vw;
  margin: 0 auto 2%;
}
h2 {
  text-shadow: -0 -1px 2px #3d3729, 0 -1px 2px #3d3729, -0 1px 2px #3d3729,
    0 1px 2px #3d3729, -1px -0 2px #3d3729, 1px -0 2px #3d3729,
    -1px 0 2px #3d3729, 1px 0 2px #3d3729, -1px -1px 2px #3d3729,
    1px -1px 2px #3d3729, -1px 1px 2px #3d3729, 1px 1px 2px #3d3729,
    -1px -1px 2px #3d3729, 1px -1px 2px #3d3729, -1px 1px 2px #3d3729,
    1px 1px 2px #3d3729;

  color: #fff6c5;
}
h6 {
  color: #fff6c5;
}

body {
  margin: 0;
  color: #000000;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
  /* font-family: "Dosis", sans-serif; */
  /* font-family: "Kelly Slab", cursive; */
  font-family: "Bitter", serif;

  background: url("img/bg1.jpg") 50% / cover no-repeat fixed;
}

/* СТИЛИЗАЦИЯ КНОПОК */
li {
  list-style-type: none; /* Убираем маркеры */
  text-decoration: none;

  padding: 3%;
}

.laba {
  text-decoration: none;

  background-color: #daa93f;

  color: black;
  opacity: 0.8; /* Делаем навигацию прозрачненькой*/
  transition: opacity 0.2s linear; /* прозрачность исчезает через 2с*/

  padding: 3%;
}

.laba:hover {
  text-decoration: underline;
  opacity: 100%; /* Делаем навигацию не прозрачненькой*/
}

.person {
  margin: 3%;
  width: 90%;

  text-align: center;
}

/* ================================================
      header
=============================================== */

.intro-block {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*HEADER
==============================================*/
.header {
  width: 100%; /*если это не сделать после position: absolute, шапка выравняется по левому краю*/
  height: 100px;

  position: absolute; /*делаем слой шапки выше слоя фоновой картинки-intro*/
  top: 0;
  left: 0;
  /* z-index: 1000; */
}
.header__inner {
  display: flex;
  justify-content: space-between; /* делаем лого и навигацию на одной строке*/
  padding: 35px;
  align-items: center; /* Выравниваем навигацию и лого (на один уровень)*/

  /*border-bottom: 2px solid #505268; /* проводим серую линию у шапки */
}

/*CONTAINER
==============================================*/
.container {
  width: 100%;
  height: 10vh;
  margin: 0 auto;

  /* position: fixed; */
  z-index: 5;
  background: #daaa3f75;
}

/*NAV
==============================================*/
.nav {
  display: flex; /*навигация "прилипла" друг к другу => margin-left: 50px; */

  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase; /* Пишем буквы меню КАПСОМ*/
}
.nav__link {
  margin-left: 50px; /*отступ слов навигации*/
  color: #fff;
  text-decoration: none; /*Убираем подчёркивание в режиме regular*/
  opacity: 0.75; /* Делаем навигацию прозрачненькой*/
  transition: opacity 0.2s linear; /* прозрачность исчезает через 2с*/
  /*LINEAR - ГРАДИЕНТ!!!*/
}
.nav__link:first-child {
  margin-left: 0px; /*убираем отступ у Features*/
}
.nav__link:hover {
  text-decoration: underline;
  opacity: 100%; /* Делаем навигацию прозрачненькой*/
}

.intro-text {
  text-align: left;
  font-size: 5.6vw;
  color: #fff;
  width: 70%;
  height: auto;
  margin: 8% auto 0;

  box-shadow: -10px 0 0 #b47b00a2;

  text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 1px #000;
}
/* ================================================
      BLOCKS!!!!!!!!!!!!!!!!!!!!!!!!!
=============================================== */
.block {
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff 50% / cover no-repeat;
  position: relative;
}

.block h2 {
  margin: 0;
  font-size: 3vw;
  text-transform: uppercase;
}

.block p {
  font-size: 1.2vw;
  text-align: justify;
  line-height: 1.75em;
  padding: 10px 100px 0;
}

/* 11111111111111111111111111111111 */
.block-1 {
  background: #fff url(img/s4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.text-block-1 {
  width: 70%;
  margin: 0 auto;
}

.WD-container {
  height: 45vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.kto {
  margin: 2% auto;
}

/* 222222222222222222222222222 */

/* background: #fff url(img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover; */

.block-for-items {
  /* width: 100vw; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}
.item {
  width: 60%;
  padding: 2% 3%;
  margin: 0 2%;

  font-size: 1vw;
  text-align: justify;

  background: #daa93ffb;
  border: 4px solid #daaa3fc7;
  border-radius: 25px;
}

.for-img {
  width: 20%;
  margin: 5% auto 1%;
}
.ball-img {
  width: 100%;
}
.trad-text {
  padding: 1% 2%;
  font-size: 2.1vw;
}
/* 3333333333333333333333333333333333333333 */
/* =========================================== */
.block-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;

  background: none;
  /* border: 4px solid #daa93fea; */
  /* border-radius: 25px; */
}
.mucheniya {
  /* ТУТ ДОЛЖЕН БЫТЬ СТИЛЬ ШРИФТА!!!!! */
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!! */
  text-shadow: -0 -1px 2px #3d3729, 0 -1px 2px #3d3729, -0 1px 2px #3d3729,
    0 1px 2px #3d3729, -1px -0 2px #3d3729, 1px -0 2px #3d3729,
    -1px 0 2px #3d3729, 1px 0 2px #3d3729, -1px -1px 2px #3d3729,
    1px -1px 2px #3d3729, -1px 1px 2px #3d3729, 1px 1px 2px #3d3729,
    -1px -1px 2px #3d3729, 1px -1px 2px #3d3729, -1px 1px 2px #3d3729,
    1px 1px 2px #3d3729;

  color: #fff6c5;
  font-size: 2.8vw;
}
.element-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 70vw;
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 5%;
}
.el-img-block {
  width: 20vw;
}
.el-img {
  width: 100%;
}

/* ===========================================================
          ГАЛЕРЕЯ
============================================================*/
.foto-container {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */

  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.foto-inner {
  /*background-color:  #fb6542;*/

  width: 33%;
  flex-grow: 1;

  flex-basis: 361;

  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  /*border: 6px dashed #383127;*/
  color: #2b1700;
}

.fotka {
  width: 100%;
  height: 100%;
}

.fotka {
  display: inline-block;
  border: 0;

  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.fotka:hover {
  /* box-shadow: 0px 0px 150px #000000; */
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}
/* =================================================
=================================================== */
