* {
  box-sizing: border-box;
}

.back-block {
  width: 4%;
  position: absolute;
  top: 3%;
  left: 5%;
  z-index: 20;
}
.back-img {
  width: 100%;
}

body {
  font-family: "Bitter", serif;

  background-color: #222831;
  margin: 0;
  text-align: justify;
  color: #e4cc8b;
  font-size: 1.6vw;
}
h2 {
  text-align: center;
  margin: 7% auto 2%;
}
.clock-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  cursor: context-menu;
  background: url(img/bg-4.jpg);

  background-repeat: no-repeat;
  background-size: cover;

  text-shadow: -0 -1px 2px #3d3729, 0 -1px 2px #3d3729, -0 1px 2px #3d3729,
    0 1px 2px #3d3729, -1px -0 2px #3d3729, 1px -0 2px #3d3729,
    -1px 0 2px #3d3729, 1px 0 2px #3d3729, -1px -1px 2px #3d3729,
    1px -1px 2px #3d3729, -1px 1px 2px #3d3729, 1px 1px 2px #3d3729,
    -1px -1px 2px #3d3729, 1px -1px 2px #3d3729, -1px 1px 2px #3d3729,
    1px 1px 2px #3d3729;

  /* color: #fff6c5; */
}
.title-begin {
  margin: 10% auto 3%;
}
.title-end {
  margin: 3% auto 10%;
}
#countdown {
  color: #efbb2e;
}

.title {
  width: 60%;
  font-size: 2.5vw;

  position: relative;
}

#countdown {
  font-size: 2.5rem;
}

::selection {
  background-color: #efbb2e;
  color: #ffffff;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
    margin-bottom: 0.75rem;
  }
  #countdown {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  #countdown {
    font-size: 1rem;
  }
}

/* ==============================================
===================================================
==================================================== */
.inner-block {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.inner-img {
  width: 40%;
}
.bull-img {
  width: 100%;
}
.bull-text {
  padding: 5% 10% 5%;
  width: 60%;
  margin: 0 auto;
  letter-spacing: 2px;
}
