@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: open sans condensed;
  font-weight: 300;
  font-size: 1.2rem;
  color: #34414a;
}
body {
  border: 1rem solid #34414a;
  box-shadow: 0 0 1px 1px #aaa inset;
}
html:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background: url(img/green.jpg) no-repeat 50% fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
article {
  width: 80%;
  max-width: 600px;
  min-width: 390px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translatex(-50%) translatey(-50%);
  border: 5px solid rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
article:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
article:after {
  content: "";
  background: url(img/yellsv.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
}
figure {
  background: rgba(52, 65, 74, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  right: calc(100% + 250px);
  top: 0;
  z-index: 2;
  text-align: center;
  padding: 1rem;
  transition: 1s linear;
}
figure:after {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 100%;
  border-left: 250px solid rgba(52, 65, 74, 0.8);
  border-right: 250px solid rgba(0, 0, 0, 0);
  border-bottom: 325px solid rgba(0, 0, 0, 0);
}
article:hover figure {
  right: 0;
}
figure > * {
  opacity: 0.03;
  transition: 0.1s 0.9s;
}
article:hover figure * {
  opacity: 1;
}
p {
  color: #fff;
}
a {
  color: #f4d256;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #f4d256;
}
h1 {
  font-weight: 300;
  text-align: center;
  color: #fff;
}
